{% for c in clienti %}
<tr class="hover:bg-slate-50 dark:hover:bg-slate-800/40">
    <td class="px-2">
        <input type="checkbox" name="ids" value="{{ c.pk }}" class="bulk-check">
    </td>
    {% include "anagrafica/_cell_display.html" with c=c field="codice_interno" %}
    <td class="px-3">
        <a href="{{ c.get_absolute_url }}" class="font-medium hover:underline">{{ c.denominazione }}</a>
    </td>
    {% include "anagrafica/_cell_display.html" with c=c field="tipo_soggetto" %}
    {% include "anagrafica/_cell_display.html" with c=c field="codice_fiscale" %}
    {% include "anagrafica/_cell_display.html" with c=c field="partita_iva" %}
    {% include "anagrafica/_cell_display.html" with c=c field="regime_contabile" %}
    {% include "anagrafica/_cell_display.html" with c=c field="periodicita_iva" %}
    {% include "anagrafica/_cell_display.html" with c=c field="stato" %}
    <td class="px-3 text-right">
        <a href="{% url 'anagrafica:edit' c.pk %}"
           class="text-[11px] text-brand-700 hover:underline">Modifica</a>
    </td>
</tr>
{% empty %}
<tr><td colspan="10" class="px-3 py-8 text-center text-sm text-slate-500">Nessun cliente trovato.</td></tr>
{% endfor %}
