# Copia questo file in .env e valorizza i campi
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=studiohub
POSTGRES_USER=studiohub
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Time zone
TIME_ZONE=Europe/Rome
